<div id="viewer" ng-controller="viewerController" ng-show="viewerActive">
	<div id="iviewer"></div>
</div>

<div class="row row-vbox">
	<div class="col-md-2" ng-controller="treeController">
		<script type="text/ng-template" id="tree_branch.html">
			<a ng-click="selectBranch(branch)">
				<i class="fa" ng-class="{'fa-minus': (branch.children && branch.children.length > 0 || branch.peekDir) && branch.expanded, 'fa-plus': (branch.children && branch.children.length > 0 || branch.peekDir) && !branch.expanded, 'fa-blank': (!branch.children || branch.children.length == 0)}"></i>
				<i ng-if="branch.status == 'loading'" class="fa fa-spin"></i>
				{{branch.name}}
			</a>
			<ul ng-if="branch.children && branch.children.length > 0 && branch.expanded" ng-class="getDepthClass(branch)" class="nav nav-tree nav-pills nav-stacked">
				<li ng-repeat="branch in branch.children" ng-class="path == branch.path ? 'active' : ''" ng-include="'tree_branch.html'"></li>
			</ul>
		</script>
		<ul class="nav nav-tree nav-pills nav-stacked">
			<li ng-repeat="branch in tree" ng-class="path == branch.path ? 'active' : ''" ng-include="'tree_branch.html'"></li>
		</ul>
	</div>
	<div class="col-md-10" ng-controller="fileController" id="fileArea">
		<div class="dropdown dropdown-context-menu" id="itemMenu">
			<ul class="dropdown-menu">
				<li><a ng-click="itemInteract(active)">Open</a></li>
				<li><a ng-if="active.type == 'dir'" ng-click="itemInteract(active, {recursive: true})">Open Recursive</a></li>
				<li><a ng-if="active.type == 'dir'" ng-click="itemInteract(active, {recursive: true, stars: true})">Open Recursive - Starred only</a></li>
				<li><a ng-if="active.type == 'dir'" ng-click="itemInteract(active, {method: 'add', recursive: true})">Add to view</a></li>
			</ul>
		</div>

		<a ng-click="itemInteract(file)" context-menu="setActive(file)" data-target="itemMenu" ng-repeat="file in files" ng-show="file.visible" class="thumbnail" ng-class="active.$$hashKey == file.$$hashKey ? 'active' : ''" id="f{{file.$$hashKey}}">
			<div class="thumbnail-img">
				<img ng-src="{{file.thumbPath}}"/>
			</div>
			<div class="emblems">
				<img ng-if="hasStar(file)" src="/img/emblems/star.png"/>
				<img ng-if="file.type == 'file' && $index >= activeIndex - config.cacheBackwards && $index <= activeIndex + config.cacheForewards" src="/img/emblems/cache.png"/>
			</div>
			<img class="hide" ng-if="file.type == 'file' && $index >= activeIndex - config.cacheBackwards && $index <= activeIndex + config.cacheForewards" ng-src="{{config.viewerSrcPrefix}}{{file.path}}"/>
			<div class="caption">{{file.name}}</div>
		</a>
	</div>
</div>
