/* Offset main body to compensate for nav bar {{{ */
body {
	margin-top: 30px;
}
/* }}} */
/* Main navbar is too big {{{ */
.navbar {
	min-height: 0;
}

.navbar-brand {
	padding: 5px;
	height: auto;
}

.navbar-nav>li>a {
	padding: 5px;
}

.navbar .breadcrumb {
	padding: 3px;
	margin-bottom: 0;
}

.navbar .breadcrumb > li:first-child {
	margin-left: 20px;
}
/* }}} */
