/* HTML overrides {{{ */
body {
	margin-top: 55px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a[ng-click] {
	cursor: pointer;
}
/* }}} */
/* Tree control: .nav-tree {{{ */
.nav-tree > li > a {
	padding: 2px 10px;
}

.nav-tree.depth-1 {margin-left: 10px;}
.nav-tree.depth-2 {margin-left: 20px;}
.nav-tree.depth-3 {margin-left: 30px;}
.nav-tree.depth-4 {margin-left: 40px;}
.nav-tree.depth-5 {margin-left: 50px;}
.nav-tree.depth-6 {margin-left: 60px;}
.nav-tree.depth-7 {margin-left: 70px;}
.nav-tree.depth-8 {margin-left: 80px;}
.nav-tree.depth-9 {margin-left: 90px;}
.nav-tree.depth-10 {margin-left: 100px;}
/* }}} */
/* Thumbnails: .thumbnail {{{ */
a.thumbnail {
	width: 100px;
	height: 130px;
	float: left;
	margin: 2px 2px;
	overflow: hidden;
	padding: 0;
}

a.thumbnail > .thumbnail-img {
	width: 100px;
	height: 100px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

a.thumbnail > .thumbnail-img > img {
	max-height: 100%;
	max-width: 100%;
}

a.thumbnail > .caption {
	padding: 0;
	text-align: center;
	font-size: 12px;
	margin-top: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* }}} */
/* Thumbnails / emblems {{{ */
a.thumbnail .emblems {
	float: right;
}
/* }}} */
/* Context menus: .dropdown-context-menu {{{ */
.dropdown-context-menu {
	position: fixed;
	z-index: 10000;
}
/* }}} */
/* File viewer: #viewer {{{ */
#viewer {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: white;
	z-index: 2000;
	width: 100%;
	height: 100%;
}

#iviewer {
	display: block;
	width: 100%;
	height: 100%;
}
/* }}} */
