/* Tree control: .nav-tree {{{ */
.nav-tree.depth-1 {margin-left: 10px};
.nav-tree.depth-2 {margin-left: 20px};
.nav-tree.depth-3 {margin-left: 30px};
.nav-tree.depth-4 {margin-left: 40px};
.nav-tree.depth-5 {margin-left: 50px};
.nav-tree.depth-6 {margin-left: 60px};
.nav-tree.depth-7 {margin-left: 70px};
.nav-tree.depth-8 {margin-left: 80px};
.nav-tree.depth-9 {margin-left: 90px};
.nav-tree.depth-10 {margin-left: 100px};
/* }}} */
