<div class="dropdown dropdown-context-menu" id="itemMenu">
	<ul class="dropdown-menu">
		<li class="dropdown-header">Sort by</li>
		<li><a ng-click="setSort('name')"</a>Name</a></li>
		<li><a ng-click="setSort('size')"</a>Size</a></li>
		<li><a ng-click="setSort('date')"</a>Date</a></li>
		<li><a ng-click="setSort('random')"</a>Random</a></li>

		<li class="dropdown-header">Filter by</li>
		<li><a ng-click="setFilter('files', 'toggle')"</a>Files</a></li>
		<li><a ng-click="setFilter('dirs', 'toggle')"</a>Directories</a></li>
		<li><a ng-click="setFilter('stars', 'toggle')"</a>Stars</a></li>
	</ul>
</div>

<div id="viewer" ng-controller="viewerController" ng-show="viewerActive" ng-click="closeFile()">
	<div id="iviewer"></div>
</div>

<div class="row row-vbox">
	<div class="col-md-2" ng-controller="treeController">
		<script type="text/ng-template" id="tree_branch.html">
			<a ng-click="selectBranch(branch)">
				<i class="fa" ng-class="{'fa-minus': (branch.children && branch.children.length > 0 || branch.peekDir) && branch.expanded, 'fa-plus': (branch.children && branch.children.length > 0 || branch.peekDir) && !branch.expanded, 'fa-blank': (!branch.children || branch.children.length == 0)}"></i>
				<i ng-if="branch.status == 'loading'" class="fa fa-spin"></i>
				{{branch.name}}
			</a>
			<ul ng-if="branch.children && branch.children.length > 0 && branch.expanded" ng-class="getDepthClass(branch)" class="nav nav-tree nav-pills nav-stacked">
				<li ng-repeat="branch in branch.children" ng-class="path == branch.path && 'active'" ng-include="'tree_branch.html'"></li>
			</ul>
		</script>
		<ul class="nav nav-tree nav-pills nav-stacked">
			<li ng-repeat="branch in tree" ng-class="path == branch.path && 'active'" ng-include="'tree_branch.html'"></li>
		</ul>
	</div>
	<div class="col-md-10" ng-controller="fileController" id="fileArea">
		<a ng-click="itemClick(file)" context-menu data-target="itemMenu" ng-repeat="file in files" ng-show="file.visible" class="thumbnail" ng-class="active.$$hashKey == file.$$hashKey ? 'active' : ''" id="f{{file.$$hashKey}}">
			<div class="thumbnail-img">
				<img ng-src="{{file.thumbPath}}"/>
			</div>
			<div class="emblems">
				<img ng-if="hasStar(file)" src="/img/emblems/star.png"/>
				<img ng-if="file.type == 'file' && $index >= activeIndex - config.cacheBackwards && $index <= activeIndex + config.cacheForewards" src="/img/emblems/cache.png"/>
			</div>
			<img class="hide" ng-if="file.type == 'file' && $index >= activeIndex - config.cacheBackwards && $index <= activeIndex + config.cacheForewards" ng-src="{{config.viewerSrcPrefix}}{{file.path}}"/>
			<div class="caption">{{file.name}}</div>
		</a>
	</div>
</div>
