<div class="row">
	<div class="col-md-2" ng-controller="treeController">
		<script type="text/ng-template" id="tree_branch.html">
			<a ng-click="selectBranch(branch)">
				<i ng-if="(branch.children && branch.children.length > 0) || branch.peekDir" class="fa" ng-class="branch.expanded ? 'fa-minus' : 'fa-plus'"></i>
				<i ng-if="branch.status == 'loading'" class="fa fa-spin"></i>
				{{branch.name}}
			</a>
			<ul ng-if="branch.children && branch.children.length > 0 && branch.expanded" ng-class="getDepthClass(branch)" class="nav nav-tree nav-pills nav-stacked">
				<li ng-repeat="branch in branch.children" ng-class="path == branch.path && 'active'" ng-include="'tree_branch.html'"></li>
			</ul>
		</script>
		<ul class="nav nav-tree nav-pills nav-stacked">
			<li ng-repeat="branch in tree" ng-class="path == branch.path && 'active'" ng-include="'tree_branch.html'"></li>
		</ul>
	</div>
	<div class="col-md-10" ng-controller="fileController">
		<a ng-repeat="file in files" class="thumbnail">
			<div class="thumbnail-img">
				<img ng-src="{{file.thumbPath}}"/>
			</div>
			<div class="caption">{{file.name}}</div>
		</a>
	</div>
</div>
